.wrap_product{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 32px;
    margin: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: space-between;
}
.filterBar{
    display: flex;
    gap: 10px;
}
@media (max-width: 767px){
    .filterBar{
        /* max-width: 400px; */
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .wrap_product{
        grid-template-columns: 300px;
    }
}
