.title{
    font-size: 36px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #3A3A3A;
    margin-left: 30px;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    gap: 40px;
}
.price{
    font-size: 70px;
    font-weight: 600;
    line-height: 91px;
    letter-spacing: 0.03em;
    text-align: left;
}
.price span{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
}
.old_price{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #8B8B8B;
    text-decoration: line-through;
}
.percent{
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FF32A1;

}
.percent span{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FF32A1;
}
.price_block{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.btn{
    width: 340px;
    height: 86px;
    border-radius: 10px;
    background-color: #339933;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    border: none;
    color: white;
    text-align: center;

}
.descr_title{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 26px 0 26px 0;
    border-top: 2px dashed rgb(177, 176, 176);
    margin-top: 40px;
}
.descr{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;

}
.wrapper img{
    width: 80%;
}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #339933;
    
    cursor: pointer;
}
@media (max-width: 767px){
    .wrapper{
        grid-template-columns: 1fr;
        margin: 15px;
        gap: 20px;
    }
    .wrapper img{
        width: 344px;
        height: 344px;
        object-fit: cover;
    }
    .title{
        font-size: 25px;
    }
    .price{
        font-size: 40px;
    }
    
}