.img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}
.title{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.03em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.oldPrice{
    text-decoration: line-through;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;

}
.newPrice{
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.03em;
    text-align: left;

}
.percent{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: red;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    border: none;
    background-color: transparent;
    position: relative;
    bottom: 50px;
    left: 130px;
    background-color: #F1FFF1;
    border-radius: 50%;
    padding: 5px 5px;
    
    
}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #339933;
    
    cursor: pointer;
}
.btn i{
    color: #339933;
    font-size: 40px;
}
.btn i:hover{
    color: #F1FFF1;
}

